<% provide(:title, 'Contact') %>
<h1><%= t('contact.title') %></h1>
<p>
  <%= t('contact.text1') %>
  <a href="https://railstutorial.jp/contact"><%= t('contact.text2') %></a><%= t('contact.text3') %>
</p>
